.env
.env.*
*.env
Backend/.env
FrontendWeb/.env
FrontendMovil/.env
FrontendMovil/.expo/
FrontendMovil/node_modules/
!.env.example
!*.env.example
.idea/
Backend/coverage*
FrontendWeb/playwright-report/
FrontendWeb/test-results/
