MONGODB_URI=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
JWT_SECRET=
APP_ENV=
PORT=8080
ADMIN_EMAIL=
ADMIN_PASSWORD=
FRONTEND_URL=
FRONTEND_URL_MOBILE=
EMAIL_FROM=
EMAIL_PASS=
MONGODB_DB_NAME=
SMTP_HOST=
SMTP_PORT=
